<!DOCTYPE html>
<html lang="en">
  {% include "head.njk" %}

  <body>
    {% include "header.njk" %}

    <main>
      <section class="py-5 container">
        {{ content | safe }}
      </section>
    </main>

    {% include "footer.njk" %}
  </body>
</html>
