<script src="../node_modules/boostrap/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<footer class="py-5 container d-flex flex-wrap justify-content-between align-items-center my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary"><a href="https://github.com/OpenHPS/POSO/blob/master/website/{{ page.inputPath }}">Edit this page on GitHub</a></span>
    </div>
</footer>
